/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');
/* global rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: "Work Sans" , sans-serif;
}
/* in common styling */
.faded-heading{
    color: #ebeced;
    font-size: calc(3.5rem + 5vw);
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
}
.faded-heading + p{
    text-align: center;
    color: #797979;
    margin-top: -33px;
    font-size: 1.25rem;
}   
/* nav bar styling */
nav{
    display: flex;
    justify-content: space-between;
    padding: 1.5% 5%;
}
nav img{
    width: 20%;
}
nav #menu-icon-container{
    transform: rotate(180deg);
}
nav .menu-icon-line{
    width: 30px;
    height: 2px;
    background-color: #333333;
    margin: 6px 0;
    transition: width 0.3s ease;
}
nav .middle-icon-line{
    width: 15px;
}
nav #menu:hover .menu-icon-line{
    width: 30px;
    transition: width 0.3s ease;
}
nav #menu #menu-list{
    list-style: none;
    background-color: #f6f6f6;
    position: absolute;
    right: 5%;
    min-width: 200px;
    top: 11%;
    display: none;
    z-index: 1;
}
nav #menu #menu-list::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px; 
}
nav #menu #menu-list li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: padding-left 0.3s ease;
}
nav #menu #menu-list li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
nav #menu #menu-list li a:hover{
    padding-left: 25px;
    transition: padding-left 0.3s ease;
}
nav #menu:hover #menu-list{
    display: block;
}
/* header styling */
header{
    background-image: url(../images/header-mountains.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}
header #header-inner-text{
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 27%;
}
header #header-inner-text h1{
    color: #10cab7;
    font-size: 3.125rem;
    margin: 0 0 4% 0;
}
header #header-inner-text p{
    font-size: 1.2rem;
    line-height: 1.8;
}
/* features section styling */
.head-text{
    margin-bottom: 2%;
}
#features-section{
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-around;
    padding: 5%;
    margin-bottom: 5%;
}
#features-section .feature{
    text-align: center;
    padding: 3%;
}
#features-section .feature i{
    color: #10cab7;
    font-size: 3rem;
}
#features-section .feature h3{
    font-weight: 800;
    margin: 30px 0;
}
#features-section .feature p{
    line-height: 1.8;
    color: #777;
    font-size: 1rem;
}
/* services section styling */
#services-body{
    display: flex;
    margin-bottom: 5%;
    padding: 2%;
}
#services-divs{
    display: grid;
    grid-template-columns: repeat(2 , 47%);   
    gap: 50px;
    padding: 4%;
}
#services-divs .service{
    display: flex;
}
#services-divs .service i{
    color: #10cab7;
    font-size: 2rem;
    margin-right: 5%;
}
#services-divs .service .service-text h3{
    margin: 0 0 30px 0;
}
#services-divs .service .service-text p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
#services-body #services-image-div{
    position: relative;
    text-align: center;
    padding: 5%;
}
#services-body #services-image-div img{
    width: 260px;
}
#services-body #services-image-div::before{
    content: "";
    background-color: #2c4755;
    width: 100px;
    height: 450px;
    top: 5px;
    position: absolute;
    right: 15px;
    z-index: -1;
    margin-right: 3%;
}
/* portfolio section styling */
#portfolio-section .head-text{
    margin-bottom: 7%;
}
#portfolio-section{
    background-color: #f6f6f6;
    padding: 5%;
}
#portfolio-section #portfolio-divs{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
#portfolio-section #portfolio-divs .portfolio-project{
    width: 70%;
    background-color: white;
}
#portfolio-section #portfolio-divs .portfolio-project img{
    width: 100%;
}
#portfolio-section #portfolio-divs .portfolio-project .project-text{
    padding: 5%;
}
#portfolio-section #portfolio-divs .portfolio-project .project-text p{
    color: #777;
    line-height: 1.6;
    margin-top: 3%;
}
/* about section styling */
#about-section .head-text{
    margin-bottom: 7%;
}
#about-section{
    margin-bottom: 5%;
    padding: 5%;
}
#about-body{
    display: flex;
    justify-content: space-between;
}
#about-body #about-text{
    width: 60%;
    padding: 2%;
}
#about-body #about-text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
#about-body #about-text hr {
    width: 50%;
    display: inline-block;
    margin-bottom: 4%;
    border-color:#10cab7;
}
#about-body #about-text p:last-of-type {
    line-height: 2;
    color: #777;
}
#about-body #about-img{
    width: 20%;
    position: relative;
}
#about-body #about-img img{
    width: 250px;
}
#about-body #about-img::before{
    content: "";
    width: 100px;
    height: 450px;
    position: absolute;
    top: -35px;
    left: -25px;
    background-color: #ebeced;
    z-index: -1;
}
#about-body #about-img::after{  
    content: "";
    width: 100px;
    height: 300px;
    position: absolute;
    top: -35px;
    right: -155px;   
    border-left: 80px solid #10cab7;
    border-bottom: 80px solid #10cab7;
    z-index: -1;    
}
/* contact section styling */
#contact-section{
    background-color: #f6f6f6;
    padding: 5% 5% 10% 5%;
}
#contact-section .head-text{
    margin-bottom: 7%;
}
#contact-section #contact-text{
    text-align: center;
}
#contact-section #contact-text .contact-label{
    font-size: 2.2rem;
    font-weight: 800;
    color: #2c4755;
    letter-spacing: -2px;
    margin-bottom: 15px;
}
#contact-section #contact-text .contact-link{
    font-size: calc(1rem + 2vw);
    font-weight: 800;
    color:#10cab7;
    text-decoration: none;
}
#contact-section #contact-text .social{
    margin-top: 20px;
    font-size: 1rem;
}
#contact-section #contact-text .social i{
    color: #2c4755;
    margin-left: 8px;
}
/* footer styling */
footer{
    background-color: #2c4755;
    text-align: center;
    padding: 2.5%;
    color: white;
    font-size: 1.1rem;
}
footer span{
    color: #10cab7;
}
/* media queries */
/* extra small */
@media (max-width:768px){
    .head-text{
        margin-bottom: 15%;
    }
    header #header-inner-text{
        width: 45%;
    }
    #features-section{
        flex-direction: column;
    }
    #services-body #services-image-div , #services-body #services-image-div::before{
        display: none;
    }
    #services-divs{
        display: grid;
        grid-template-columns: 100%;   
        text-align: center;
    }
    #services-divs .service{
        flex-direction: column;
    }
    #services-divs .service i{
        margin: 0 0 3% 0;
    }
    #portfolio-section #portfolio-divs{
        flex-direction: column;
        width: 70%;
        margin: auto;
    }
    #portfolio-section #portfolio-divs .portfolio-project{
        width: 100%;
        margin-bottom: 10%;
    }
    #about-body{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #about-section .head-text{
        margin-bottom: 15%;
    }
    #about-body #about-img::before , #about-body #about-img::after{
        display: none;
    }
    #about-body #about-img{
        width: 100%;
    }
    #about-body #about-text{
        width: 100%;
        margin-top: 5%;
    }
}
/* small */
@media (min-width:769px) and (max-width:992px){
    .head-text{
        margin-bottom: 10%;
    }
    header #header-inner-text{
        width: 45%;
    }
    #features-section{
        flex-wrap: wrap;
    }
    #features-section .feature{
        width: 50%;
    }
    #services-body #services-image-div , #services-body #services-image-div::before{
        display: none;
    }
    #services-divs{
        display: grid;
        grid-template-columns: repeat(2 , 50%);   
        padding: 2%;
    }
    #portfolio-section #portfolio-divs{
        flex-wrap: wrap;
    }
    #portfolio-section #portfolio-divs .portfolio-project{
        width: 45%;
    }
    #about-body{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #about-section .head-text{
        margin-bottom: 15%;
    }
    #about-body #about-img::before , #about-body #about-img::after{
        display: none;
    }
    #about-body #about-img{
        width: 100%;
    }
    #about-body #about-text{
        width: 100%;
        margin-top: 5%;
    }
}
/* medium */
@media (min-width:993px) and (max-width:1200px){
    header #header-inner-text{
        width: 35%;
    }
    #services-body #services-image-div , #services-body #services-image-div::before{
        display: none;
    }
    #services-divs{
        display: grid;
        grid-template-columns: repeat(2 , 50%);   
        padding: 2%;
    }
    #portfolio-section #portfolio-divs{
        flex-wrap: wrap;
    }
    #portfolio-section #portfolio-divs .portfolio-project{
        width: 45%;
    }
}








